<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="card" style="display: block; height:150px ;position : relative">
      <div style="height: 40px;"><h1 style="display: inline-block;">Weather data of {{data.name}} || Metric units</h1><a style="display: inline-block;" href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">View a Different city's Weather</a></div>
      <div><form method="POST" style="height:33px"action="/standard">
        <div >
          <input style="visibility: hidden; height : 5px" value={{data.name}} type="text" class="form-control" id="city" enctype="application/x-www-form-urlencoded" name="city" />
        </div>
        <button style="padding:2px; background-color: lightseagreen;" type="submit" class="btn ">Standard</button>
        </form>
      </div>
      <div><form method="POST" style="height:33px"action="/metric">
        <div >
          <input style="visibility: hidden; height : 5px" value={{data.name}} type="text" class="form-control" id="city" enctype="application/x-www-form-urlencoded" name="city" />
        </div>
        <button style="padding:2px; background-color: lightseagreen;" type="submit" class="btn ">metric</button>
        </form>
      </div>
      <div><form method="POST" style="height:33px"action="/imperial">
        <div >
            <input style="visibility: hidden; height : 5px" value={{data.name}} type="text" class="form-control" id="city" enctype="application/x-www-form-urlencoded" name="city" />
        </div>
        <button style="padding:2px; background-color: lightseagreen;" type="submit" class="btn ">imperial</button>
        </form>
      </div>
    </div>
    <ul>
    <ul class="list-group list-group-flush " >
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">longitude :</strong>           {{data.longitude}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">latitude :</strong>            {{data.latitude}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">weather_type :</strong>        {{data.weather_type}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">weather_desc :</strong>        {{data.weather_desc}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">temp :</strong>                {{data.temp}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">feels_like :</strong>          {{data.feels_like}}</li> 
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">temp_min :</strong>            {{data.temp_min}}</li> 
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">temp_max :</strong>            {{data.temp_max}}</li> 
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">pressure :</strong>            {{data.pressure}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">humidity :</strong>            {{data.humidity}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">visibility :</strong>          {{data.visibility}}</li> 
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">wind_speed :</strong>          {{data.wind_speed}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">wind_deg :</strong>            {{data.wind_deg}}</li> 
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">time_of_collection :</strong>  {{data.time_of_collection}}</li>
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">country :</strong>             {{data.country}}</li> 
    <li class="list-group-item" style="border: none;"><strong style="display:inline-block;width:180px;text-align:left;">name :</strong>                {{data.name}}</li>
    </ul>

</body>
</html>